.containers{
    max-width:1146px;
    margin: 0 auto; 
}
.footer-list__item:hover > p{
    color: white;
    transition: all 0.3s;
}

.footer-list__item:hover > button{
    background-color: #9F3919;
    border: #9F3919;
    color: white;
    transition: all 0.3s;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 25s linear infinite;
  width: max-content;
}
.animation:hover .animate-slide {
  animation-play-state: paused;
}

